<!-- <p-chart type="pie" [data]="data" width="400px" height="400px" [responsive]="false"></p-chart> -->

<div class="card">
    <h6>Vertical</h6>
    <p-chart type="doughnut" [data]="basicData" [options]="basicOptions" width="400px" height="400px"></p-chart>
</div>
<p-chart type="pie" [data]="basicData" [options]="basicOptions" width="400px" height="400px"></p-chart>

<div class="card">
<p-chart type="bar" [data]="basicData" [options]="basicOptions" width="400px" height="400px"></p-chart>
</div>
<p-chart type="line" [data]="basicData" [options]="basicOptions" width="400px" height="400px"></p-chart>


<p-chart type="combo" [data]="basicData" [options]="basicOptions"width="400px" height="400px"></p-chart>

